<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="/styles/blogpost.css" />

    <title><%= title %></title>
  </head>
  <body>
    <h1><%= title %></h1>
    <!-- <h3 class="titleheadline">Up Close and Personal With the Rolling Stones</h3> -->
    <h3><%= year %></h3>
    <div class="text-container">
      <div>
        <p><%= content %></p>
      </div>
    </div>
  </body>
</html>
